@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>An MVC based clothing management app which can be used by a user to buy clothes.</p>
<p>Here you will find the latest pictures from new collections and other general news. 
    Be informed that all the posts represent the opinion of our company, its employees or affiliates</p>
