@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Humber College<br />
    205 Humber College Blvd<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Developer:</strong><div>Ankur Pravin Patel</div>   <a href="mailto:n01324338@humbermail.ca">n01324338@humbermail.ca</a><br /><br/>
    <strong>Developer:</strong><div>Dharmesh Devchand Patel</div> <a href="mailto:n01324415@humbermail.ca">n01324415@humbermail.ca</a>
</address>